<html>
<head>
<title>SGPA Calculator</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
 
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size:23px;
}

li a:hover {
  background-color:#56D37B;
}

</style>
</head>
<body style='background-color:#f0f8ff'>
<div>
    <ul>
  <li><a class="active" href="/"><strong>Home</strong></a></li>
  </ul>
	</div>
    <center>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
        <h1> SGPA is : {{data}}  </h1>
    
		  <br><br>
    <!--<a href='/'>Go back to home page</a>-->

    </center>

</body>

</html>
