<html>
<head>
<title>SGPA Calculator</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
    <body style='background-color:#F0FFFF position:fixed'> <!--#f0f8ff-->

        <center>
		<h1> Semester 6 <h1>
        <h2> VTU SGPA Calculator</h2>
        
        <form method="POST", action="{{url_for('home')}}">
           <b> Digital Communication <br><input type="text", name='a', placeholder="Enter obtained marks" required><br><br>
            Embedded Systems <br><input type="text", name='d', placeholder="Enter obtained marks" required> <br><br>
			Microwave and Antennas <br><input type="text", name='g', placeholder="Enter obtained marks" required> <br><br>
			Python Application Programming <br><input type="text", name='j', placeholder="Enter obtained marks" required> <br><br>
			Open Elective <br><input type="text", name='m', placeholder="Enter obtained marks" required> <br><br>
			Mini Project <br><input type="text", name='p', placeholder="Enter obtained marks" required> <br><br>
			Embedded Systems Lab <br><input type="text", name='s', placeholder="Enter obtained marks" required> <br><br>
			Communication Lab <br><input type="text", name='v', placeholder="Enter obtained marks" required> <br><br>
			<!--Enter Subject-9 obtained marks : <input type="text", name='y', placeholder="Enter Subject-9 obtained marks" required> <br><br>
			Enter Subject-9 credit points : <input type="text", name='z', placeholder="Enter Subject-9 credit points" required> <br><br> -->
			<br></b>
            <input type="submit" , value='Submit' >
        </form>
		 <h2> {{data}}  </h2>
		<br>
		<br>
    </center>
	<center>
<footer>
  <p>Developed By: Ashok Kumar S<br>
</footer>
</center>
    </body>
</html>
